---
layout: page/page--riksa-uji
---
{%- comment -%}
============================================================================
Content Template: Riksa Uji Article (node--riksa-uji.html)
============================================================================

@file        node--riksa-uji.html
@path        _layouts/node--riksa-uji.html
@type        Node (content template - variant)
@variant     riksa-uji (K3 technical articles)
@description Content template for riksa uji articles with structured sections
@author      arisciwek

Drupal-style naming: node--riksa-uji.html (variant of node.html)

This template wraps in page--riksa-uji.html and provides riksa uji article
structure with specialized sections (importance, process, regulation, etc).

============================================================================
{%- endcomment -%}

<article class="post-content py-5">

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-1 d-none d-lg-block"></div>

      <div class="col-lg-10">
        <div class="row">

          <div class="col-lg-12">
            {% include block/block--content-header.html variant="riksa-uji" %}

            {% if page.section_hero %}
              {% include reusable/node--riksa-uji/block--hero-riksa-uji.html section=page.section_hero %}
            {% endif %}
            
          </div>

          <div class="col-lg-8">

            {% include reusable/node--riksa-uji/block--breadcrumb-post.html %}

            <div class="post-body mb-5">

              {% if page.images %}
                {% include reusable/node--riksa-uji/block--gallery.html images=page.images %}
              {% endif %}

              {% include reusable/node--riksa-uji/block--post-description.html %}

              {% if page.content_intro %}
                {% include reusable/node--riksa-uji/block--content-intro.html section=page.content_intro %}
              {% endif %}

              {% if page.section_company_intro %}
                {% include reusable/node--riksa-uji/block--company-intro-riksa-uji.html section=page.section_company_intro %}
              {% endif %}

              {% if page.section_services %}
                {% include reusable/node--riksa-uji/block--services-riksa-uji.html section=page.section_services %}
              {% endif %}

              {{ content }}

              {% if page.section_importance %}
                {% include reusable/node--riksa-uji/block--importance.html section=page.section_importance %}
              {% endif %}

              {% if page.section_process %}
                {% include reusable/node--riksa-uji/block--process.html section=page.section_process %}
              {% endif %}

              {% if page.section_regulation %}
                {% include reusable/node--riksa-uji/block--regulation.html section=page.section_regulation %}
              {% endif %}

              {% if page.section_training %}
                {% include reusable/node--riksa-uji/block--training.html section=page.section_training %}
              {% endif %}

              {% if page.section_specs %}
                {% include reusable/node--riksa-uji/block--specs.html section=page.section_specs %}
              {% endif %}

              {% if page.section_permit %}
                {% include reusable/node--riksa-uji/block--permit.html section=page.section_permit %}
              {% endif %}

              {% if page.section_certification %}
                {% include reusable/node--riksa-uji/block--certification.html section=page.section_certification %}
              {% endif %}

              {% if page.section_technical %}
                {% include reusable/node--riksa-uji/block--technical.html section=page.section_technical %}
              {% endif %}

              {% if page.section_order %}
                {% include reusable/node--riksa-uji/block--order-process-riksa-uji.html section=page.section_order %}
              {% endif %}

              {% if page.section_testimonials %}
                {% include reusable/node--riksa-uji/block--testimonials-riksa-uji.html section=page.section_testimonials %}
              {% endif %}

              {% if page.section_faq %}
                {% include reusable/node--riksa-uji/block--faq-kategoris-riksa-uji.html section=page.section_faq %}
              {% endif %}

              {% if page.section_tips %}
                {% include reusable/node--riksa-uji/block--tips-riksa-uji.html section=page.section_tips %}
              {% endif %}

              {% if page.announce %}
                {% include reusable/node--riksa-uji/block--announce.html section=page.announce %}
              {% endif %}

              {% if page.video_post %}
                {% include reusable/node--riksa-uji/block--video-post.html video=page.video_post %}
              {% endif %}

              {% if page.faq_post %}
                {% include reusable/node--riksa-uji/block--faq-post.html faq=page.faq_post %}
              {% endif %}

              {% if page.section_conclusion %}
                {% include reusable/node--riksa-uji/block--conclusion.html section=page.section_conclusion %}
              {% endif %}

              {% include reusable/node--riksa-uji/block--related-post.html limit=3 %}

              {% include reusable/node--riksa-uji/block--reviews.html %}

              {% comment %}
              
              {% include reusable/node--riksa-uji/block--comments.html %}

              {% endcomment %}

            </div>

          </div>

          <div class="col-lg-4 side-bar">
            {% include reusable/node--riksa-uji/block--sidebar-post.html %}
          </div>

        </div>
      </div>

      <div class="col-lg-1 d-none d-lg-block"></div>

    </div>
  </div>
</article>
