{% comment %}
============================================================================
About History Block
============================================================================

@file        _includes/reusable/block--about-history.html
@description Company history and background
@version     1.0.0
@date        2025-11-23
@author      arisciwek (PT. Cipta Mas Jaya)

Usage:
------
{% include reusable/block--about-history.html %}

============================================================================
{% endcomment %}

<section class="block--about-history py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <p class="lead text-center">
          PT Cipta Mas Jaya, yang berdiri sejak tahun 2019, telah tumbuh menjadi penyedia layanan inspeksi
          Keselamatan dan Kesehatan Kerja (K3) yang terpercaya di Indonesia. Berkantor pusat di Jl. Raya
          Taktakan Ruko Golden Paradise No. 7, Kota Serang, Banten, kami didukung oleh tenaga ahli
          berpengalaman di semua bidang jasa yang kami tawarkan. Dengan lisensi resmi dari Kementerian
          Ketenagakerjaan RI, PT Cipta Mas Jaya berkomitmen untuk memberikan layanan terbaik yang memastikan
          keselamatan dan kepatuhan standar di berbagai industri, menjadikan kami mitra pilihan dalam
          menciptakan lingkungan kerja yang aman dan produktif.
        </p>
      </div>
    </div>
  </div>
</section>
