{% comment %}
============================================================================
About Header PJK3 Block
============================================================================

@file        _includes/reusable/block--about-header-pjk3.html
@description Section header for PJK3 Riksa Uji
@version     1.0.0
@date        2025-11-23
@author      arisciwek (PT. Cipta Mas Jaya)

Usage:
------
{% include reusable/block--about-header-pjk3.html %}

============================================================================
{% endcomment %}

<section class="block--about-header-pjk3 py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="h2 fw-bold">
          PT. Cipta Mas Jaya adalah PJK3 Riksa Uji<br>
          Penyedia Jasa Inspeksi K3
        </h2>
      </div>
    </div>
  </div>
</section>
