{% comment %}
============================================================================
About Visi Cipta Mas Jaya Block
============================================================================

@file        _includes/reusable/block--about-visi-ciptamasjaya.html
@description Company vision
@version     1.0.0
@date        2025-11-23
@author      arisciwek (PT. Cipta Mas Jaya)

Usage:
------
{% include reusable/block--about-visi-ciptamasjaya.html %}

============================================================================
{% endcomment %}

<section class="block--about-visi-ciptamasjaya py-5">
  <div class="container">

    <!-- Visi Section -->
    <div class="row mb-5">
      <div class="col-lg-8 mx-auto">
        <div class="visi-card text-center">
          <div class="visi-icon-wrapper">
            <i class="bi bi-eye visi-icon"></i>
          </div>
          <h2 class="h3 visi-title">Visi PT. Cipta Mas Jaya</h2>
          <p class="visi-content">
            Menjadi perusahaan terkemuka di bidang jasa inspeksi Keselamatan dan Kesehatan Kerja (K3)
            di Indonesia, yang berkomitmen untuk memberikan layanan berkualitas tinggi dan terpercaya
            guna memastikan lingkungan kerja yang aman dan produktif bagi semua sektor industri.
          </p>
        </div>
      </div>
    </div>


  </div>
</section>
