{% comment %}
============================================================================
Schema: Blog Catalog (schema--blog-catalog.html)
============================================================================

@file        schema--blog-catalog.html
@path        _includes/schema/schema--blog-catalog.html
@type        Schema (blog catalog)
@description Schema markup for blog catalog page
@author      arisciwek

============================================================================
{% endcomment %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "@id": "{{ page.url | absolute_url }}#blogcatalog",
  "url": "{{ page.url | absolute_url }}",
  "name": "{{ page.title }}",
  "description": "{{ page.description }}",
  "inLanguage": "id"
}
</script>
