{% comment %}
============================================================================
Schema: Blog Posts (ItemList + BlogPosting)
============================================================================

@file        schema--blog-post.html
@path        _includes/schema/node--blog/schema--blog-post.html
@type        Schema (ItemList + BlogPosting)
@description Schema for blog posts listing on blog archive page
@author      arisciwek
@created     2025-12-04

Data Source:
------------
Uses paginator.posts or site.posts sorted by lastmod

Schema Output:
--------------
- ItemList with full BlogPosting items (for Rich Results)

Block Reference:
----------------
- block--blog-post.html (posts grid)

Usage:
------
{% include schema/node--blog/schema--blog-post.html %}

Reference:
----------
https://schema.org/ItemList
https://schema.org/BlogPosting

============================================================================
{% endcomment %}

{% comment %} Determine posts source {% endcomment %}
{% if paginator.posts %}
  {% assign blog_posts = paginator.posts | sort: "lastmod" | reverse %}
{% else %}
  {% assign blog_posts = site.posts | sort: "lastmod" | reverse %}
{% endif %}

{% if blog_posts.size > 0 %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ItemList",
  "@id": "{{ page.url | absolute_url }}#blogposts",
  "name": "Daftar Artikel K3",
  "description": "Kumpulan artikel terbaru seputar K3, riksa uji, dan keselamatan kerja dari {{ site.business.name }}",
  "numberOfItems": {{ blog_posts.size }},
  "itemListElement": [
    {% for post in blog_posts %}
    {% comment %} Determine image: images[0] > image > default (support object format) {% endcomment %}
    {% if post.images.first.src %}
      {% assign post_image = post.images.first.src %}
    {% elsif post.images.first %}
      {% assign post_image = post.images.first %}
    {% elsif post.image.src %}
      {% assign post_image = post.image.src %}
    {% elsif post.image and post.image != '' %}
      {% assign post_image = post.image %}
    {% else %}
      {% assign post_image = '/assets/images/default-blog.svg' %}
    {% endif %}
    {
      "@type": "ListItem",
      "position": {{ forloop.index }},
      "item": {
        "@type": "BlogPosting",
        "@id": "{{ site.url }}{{ site.baseurl }}{{ post.url }}#article",
        "headline": "{{ post.title | escape }}",
        "description": "{{ post.description | default: post.excerpt | strip_html | truncate: 160 | escape }}",
        "url": "{{ site.url }}{{ site.baseurl }}{{ post.url }}",
        "image": "{{ site.url }}{{ site.baseurl }}{{ post_image }}",
        "datePublished": "{{ post.date | date_to_xmlschema }}",
        "dateModified": "{{ post.lastmod | default: post.date | date_to_xmlschema }}",
        "author": {
          "@id": "{{ site.url }}{{ site.baseurl }}/#organization"
        },
        "publisher": {
          "@id": "{{ site.url }}{{ site.baseurl }}/#organization"
        },
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "{{ site.url }}{{ site.baseurl }}{{ post.url }}"
        }
      }
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
</script>
{% endif %}
