---
layout: page--riksa-uji
---
{% comment %}
============================================================================
Content Template: Riksa Uji Article (node--riksa-uji.html)
============================================================================

@file        node--riksa-uji.html
@path        _layouts/node--riksa-uji.html
@type        Node (content template - variant)
@variant     riksa-uji (K3 technical articles)
@description Content template for riksa uji articles with structured sections
@author      arisciwek

Drupal-style naming: node--riksa-uji.html (variant of node.html)

This template wraps in page--riksa-uji.html and provides riksa uji article
structure with specialized sections (importance, process, regulation, etc).

============================================================================
{% endcomment %}

<article class="post-content py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-1 d-none d-lg-block"></div>

      <div class="col-lg-10">
        <div class="row">

          <div class="col-lg-12">
            {% include reusable/post/block--post-header.html %}
          </div>

          <div class="col-lg-8">

            {% include reusable/post/block--breadcrumb-post.html %}

            <div class="post-body mb-5">

              {% if page.images %}
                {% include reusable/post/block--gallery.html images=page.images %}
              {% endif %}

              {% if page.content_intro %}
                {% include reusable/post/block--content-intro.html section=page.content_intro %}
              {% endif %}

              {{ content }}

              {% if page.section_importance %}
                {% include reusable/post/block--importance.html section=page.section_importance %}
              {% endif %}

              {% if page.section_process %}
                {% include reusable/post/block--process.html section=page.section_process %}
              {% endif %}

              {% if page.section_regulation %}
                {% include reusable/post/block--regulation.html section=page.section_regulation %}
              {% endif %}

              {% if page.section_training %}
                {% include reusable/post/block--training.html section=page.section_training %}
              {% endif %}

              {% if page.section_specs %}
                {% include reusable/post/block--specs.html section=page.section_specs %}
              {% endif %}

              {% if page.section_certification %}
                {% include reusable/post/block--certification.html section=page.section_certification %}
              {% endif %}

              {% if page.section_permit %}
                {% include reusable/post/block--permit.html section=page.section_permit %}
              {% endif %}

              {% if page.section_technical %}
                {% include reusable/post/block--technical.html section=page.section_technical %}
              {% endif %}

              {% if page.section_conclusion %}
                {% include reusable/post/block--conclusion.html section=page.section_conclusion %}
              {% endif %}

              {% if page.announce %}
                {% include reusable/post/block--announce.html section=page.announce %}
              {% endif %}

              {% if page.howto_post %}
                {% include reusable/post/block--howto-post.html howto=page.howto_post %}
              {% endif %}

              {% if page.itemlist_post %}
                {% include reusable/post/block--itemlist-post.html itemlist=page.itemlist_post %}
              {% endif %}

              {% if page.video_post %}
                {% include reusable/post/block--video-post.html video=page.video_post %}
              {% endif %}

              {% if page.faq_post %}
                {% include reusable/post/block--faq-post.html faq=page.faq_post %}
              {% endif %}

              {% include reusable/post/block--related-post.html limit=3 %}

              {% include reusable/post/block--reviews.html %}

              {% include reusable/post/block--comments.html %}

            </div>

          </div>

          <div class="col-lg-4">
            {% include reusable/post/block--sidebar-post.html %}
          </div>

        </div>
      </div>

      <div class="col-lg-1 d-none d-lg-block"></div>

    </div>
  </div>
</article>
